body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #5e5ef7;
    text-align: center;
}

section{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
    text-align: left;
}

#foto {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-top: 10px;
}

footer{
    font-style: italic;
}